//bas de page //variable
$main__color-pink: rgb(206, 108, 124);
$main__color-green: rgb(116, 138, 119);

@keyframes animate {
    0% {
    background-position: -500%;
    }
    100% {
    background-position: 500%;
    }
}

@mixin sunEffect{
    background: linear-gradient(90deg,  $main__color-green, $main__color-pink, $main__color-green);
    background-size: 70%;
    animation: animate 10s infinite ease-in;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@mixin font{
    color: #000!important;
    font-weight: bold;
}

@mixin card {
    object-fit: cover;
    border-top-left-radius: 25px!important;
    border-top-right-radius: 25px!important;
}

html{
    box-sizing: border-box;
    font-size: 1.3rem;
}



//navbar
.navbar {
    position: fixed;
    width: 100%;
    background-color: $main__color-pink;
    max-width:100%;
    z-index:3;
    & h1 a{
        @include font;
    }
    & h1 {
        margin-bottom: 15px!important;
    }
    .navbar-toggler{
        background-color: white!important;
        border-color: $main__color-green;
        border: 2px solid $main__color-green!important;
        border-radius: 15px!important;
    }
    .position{
        justify-content:flex-end!important;
        @include font;
    }
    & .nav-link{
        color: #000!important;
        font-size: 1.3rem;
        &:hover{
            background: #fff;
            border-radius: 8px;
            color:$main__color-pink!important;
            padding-left:10px;
            text-shadow: 1px 1px 1px #000;
        }
    }
}
 
.phone{
    position: sticky;
    top:3.7rem;
    background-color: $main__color-green;
    color:#000;
    font-weight: bold;
    height: 3rem;
    font-size: 1.2rem;
    z-index: 5;
}

main{
    background-image: url(images/vintage-concrete.png);
    min-height: 100%!important;
    padding-bottom: 3rem!important;
}


.product{
    max-width: 60%;
    position: relative; 
    
    & .arabesque {
        position: absolute;
        width: 45vh;
        left: 50%;
        margin-left: -14.7rem;
        top: 5rem;
    }
    & p{
        color: $main__color-green!important;
        font-weight: bold;
        font-size: 2rem;
        &:nth-of-type(1){
            margin-top: 8rem;
        }
        &:nth-of-type(3){
            margin-bottom:5rem;
        }
    }
    
}

.presentation{
    font-size: 1.6rem;
    max-width: 80%;
    font-weight: 500;
    text-align: justify!important;
    & p::first-letter{
        padding-left:4rem;
    }
    & p:nth-of-type(2){
        color: $main__color-green;
        @include sunEffect;
    }

}

.card {
    border: none!important; 
    transition: all 300ms;
    border-radius: 20px;
    & .around{
        height: 65%;
        @include card;
    }
    & .card-body {
        border-bottom-left-radius: 25px!important;
        border-bottom-right-radius: 25px!important;
        background-color: $main__color-green;
        & p{
            font-weight: bold;
            font-size: 1.3rem;
        }
        & a{
            @include font;
            background-color: $main__color-pink;
            box-shadow: 2px 1px 1px #000;
        }
        & .btn{
            padding: 0.5rem 1.5rem!important;
            &:hover{
                outline: none;
                box-shadow: 5px 5px 5px #000;
                transform: scale(1.025);
            }
        }
        
        & h3{
            color: $main__color-pink;
            text-shadow: 1px 1px 1px#000;
            font-size: 1.8rem!important;
        }
    }
    &:hover{
        transform: scale(1.025);
        box-shadow: 5px 5px 5px #000;
        border-radius: 25px;
    }
}

.row>*{
    padding-right: 0!important;
    padding-left: 0!important;
}

//bas de page//
.footer{
    background-color: $main__color-pink;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    & .relance{
        width: 10rem;
        max-height: 7rem;
    }
    & .copyright{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        color: #000;
        font-size: 1.2rem;
    }
    & .director{
        display: flex;
        justify-content: center;
        column-gap: 0.5rem;
        & img{
            width:4rem;
            max-height: 2.5rem;    
        }
        & a{
            color: #000;
            text-shadow: 1px 1px 2px #000;
            text-decoration: none;
            &:hover{
            color: $main__color-green;
            }
        }
    }
}

// page clothes.html 
.clothes{
    text-align:center;
    font-size: 3rem!important;
    margin: 3rem;
    padding-top:2rem;
    @include sunEffect;
}

.around_clothes{
    border-radius: 20px;
    height: 90%;
    object-fit: cover;
    box-shadow: 5px 4px 10px rgb(54, 54, 54);

}

#card_clothes,
#card_items,
#card_decoration{
    max-width:80%;
    column-gap: 3.5rem;
}


//page info.html
.schedule{
    text-align: center;
    & h3,
    & h4{
        font-size: 2.5rem!important;
        margin: 2.5rem;
        margin-top: 6rem;
        @include sunEffect; 
    }
    & p{
        font-size: 2rem!important;
        font-size: 1.8rem!important;
    }
}

iframe{
    margin-top: 2rem;
}

@media all and (max-width:450px){
    .phone{
        font-size: 1.2rem;
    }
    .product{
        max-width: 80%;
        & .arabesque {
            left: 88%;
            width: 50vh;
        }
        & p{
            font-size: 1.3rem;
            &:nth-of-type(1){
                margin-top: 2.7rem;
            }
            &:nth-of-type(3){
                margin-bottom: 0;
            }
        }
    }

    .presentation{
        font-size: 1.2rem;
        text-align:justify!important;
        & p::first-letter{
            padding-left: 3rem;
        }
        & p:nth-of-type(2)::first-letter{
            padding-left: 0;
        }
    }

    .card {
        width:80%!important;
        & p{
            font-size:1rem!important;
        }
        & .card-body h3{
            font-size:1.5rem!important;
            
        }
    }

    .schedule{
        & p{
            font-size: 1.2rem!important;
        }
    }

    .clothes{
        font-size: 2rem!important;
    }

    .footer{
        flex-direction: column;
        text-align: center;
        & .relance{
            margin: auto;
        }
        & .copyright{
            font-size: 1rem;
            width: 80%;
            margin:auto;
            padding-top:0.5rem;
        }
    }
}

@media all and (max-width:400px){
    .navbar-brand {
        font-size: 1rem;
    }
    .product{
        & .arabesque {
            left: 96%;
        }
        & p{
            font-size: 1.1rem;
        }
    }
    .presentation{
        font-size: 1rem;
    }

}

@media all and (max-width:350px){
    .product{
        & .arabesque {
            left:115%;
        }
        & p{
            font-size: 0.9rem;
            &:nth-of-type(1){
                margin-top: 1.9rem;
            }
        }
    }
    .card{
        & .card-body h3{
            font-size: 1.3rem!important;
        }
    }
    .clothes{
        font-size: 1.8rem!important;
    }
}